@tailwind base;

@layer base {
  html {
    font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
    font-size: 18px;
  }

  @media (max-width: 640px) {
    html {
      font-size: 16px;
    }
  }

  body {
    @apply bg-orange-50;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-blue-900 font-medium;
  }

  h1 {
    @apply text-4xl mb-1 mt-6;
  }

  h2 {
    @apply text-2xl mb-2 mt-8;
  }

  h3 {
    @apply text-lg mb-1 mt-4;
  }

  p {
    @apply text-base my-4;
  }

  a {
    @apply text-blue-800 hover:underline;
  }

  ol {
    @apply list-decimal ml-2 pt-2 pb-4 pl-4;
  }

  ul {
    @apply list-disc ml-2 pt-2 pb-4 pl-4;
  }

  blockquote {
    @apply pl-6 my-6 border-l-zinc-400 border-l-2 text-zinc-600;
  }

  hr {
    @apply my-14 border-zinc-300;
  }
}

@tailwind components;

@tailwind utilities;
