---
import PageWrapper from '../components/PageWrapper.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout pageTitle="Page not found">
  <PageWrapper>
    <h1>Error 404</h1>
    <p>Requested page was not found.</p>
    <a href="/lara-blog/">Go back</a>
  </PageWrapper>
</BaseLayout>
